server {
    listen 5173;
    server_name localhost;

    root /usr/share/nginx/html;
    index index.html;

    location /api {
        proxy_pass ${VITE_API_URL};
    }

    location / {
        try_files $uri $uri/ /index.html;
    }

    error_page 404 /index.html;
}